.navbar {
  width: 100%;
  background-color: #ffffffac;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;

  .leftSection {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;

    .logoWrapper {
      margin-top: -4px;
      cursor: pointer;
    }

    h6 {
      font-family: "Roboto Mono", monospace;
      font-weight: 700;
      font-size: 14px;
      cursor: pointer;
    }

    ul {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;

      li {
        cursor: pointer;

        p {
          margin: 0;

          font-family: "Roboto Mono", monospace;
          font-weight: 500;
          font-size: 12px;
        }
      }
    }
  }

  .rightSection {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;

    ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 20px;
      li {
          cursor: pointer;
      }
    }
    time {
      font-family: "Roboto Mono", monospace;
      font-weight: 600;
      font-size: 14px;
      cursor: pointer;
    }
  }
}
