.navbar {
  width: 100%;
  background-color: #ffffffac;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 20px;

  @media screen and (max-width: 992px) {
    display: none;
  }
  .leftSection {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;

    .logoWrapper {
      margin-top: -4px;
      cursor: pointer;
    }

    h6 {
      font-family: "Roboto Mono", monospace;
      font-weight: 700;
      font-size: 14px;
      cursor: pointer;
    }

    ul {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 20px;

      li {
        cursor: pointer;

        p {
          margin: 0;

          font-family: "Roboto Mono", monospace;
          font-weight: 500;
          font-size: 12px;
        }
      }
    }
  }

  .rightSection {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;

    ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 20px;
      li {
        cursor: pointer;
      }
    }
    time {
      font-family: "Roboto Mono", monospace;
      font-weight: 600;
      font-size: 14px;
      cursor: pointer;
    }
  }
}

.mobileNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  position: relative;
  z-index: 1000000000;

  @media screen and (min-width: 992px) {
    display: none;
  }

  time {
    font-family: "Roboto Mono", monospace;
    font-weight: 600;
    font-size: 14px;
    color: #fff;
  }

  .mobileIcons {
    display: flex;
    justify-content: flex-end;
    gap: 14px;
    align-items: center;
  }
  .dynamicIsland {
    max-width: 150px;
    width: 100%;
    height: 40px;
    background-color: #000;
    border-radius: 100px;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
