@import url("https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }
}
img {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

main {
  overflow: hidden;
  position: relative;
  background: url(../public/images/Wallpaper.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

#dock {
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;
  user-select: none;
}

/* Dock container */
#dock .dock-container {
  background-color: rgba(255, 255, 255, 0.2); /* bg-white/20 */
  backdrop-filter: blur(12px); /* backdrop-blur-md */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0.375rem; /* p-1.5 */
  gap: 0.375rem; /* gap-1.5 */
  border-radius: 1rem; /* rounded-2xl */

  .dock-item {
    position: relative;
    display: flex;
    justify-content: center;

    button {
      background-color: transparent;
      border: none;
    }
  }
}

/* Tooltip */
#dock .tooltip {
  padding-top: 0.25rem; /* py-1 */
  padding-bottom: 0.25rem;
  padding-left: 0.75rem; /* px-3 */
  padding-right: 0.75rem;
  width: fit-content; /* w-fit */
  text-align: center;
  font-size: 0.75rem; /* text-xs */
  background-color: #bfdbfe; /* bg-blue-200 */
  color: #1e3a8a; /* text-blue-900 */
  border-radius: 0.375rem; /* rounded-md */
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.25); /* shadow-2xl */
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
}

/* Dock Icon */
#dock .dock-icon {
  width: 3.5rem; /* size-14 → 56px */
  height: 3.5rem;
  cursor: pointer;
}

@media (min-width: 1920px) {
  #dock .dock-icon {
    width: 5rem; /* 3xl:size-20 → 80px */
    height: 5rem;
  }
}

#dock .dock-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* object-cover */
  object-position: center; /* object-center */
}

#window-controls {
  display: flex;
  gap: 0.5rem;

  .close {
    width: 14px;
    height: 14px;
    border-radius: 9999px;
    background: #ff6157;
    cursor: pointer;
  }

  .minimize {
    width: 14px;
    height: 14px;
    border-radius: 9999px;
    background: #ffc030;
  }

  .maximize {
    width: 14px;
    height: 14px;
    border-radius: 9999px;
    background: #2acb42;
  }
}

#window-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background: #f9fafb;
  border-bottom: 1px solid #e5e7eb;
  user-select: none;
  font-size: 0.875rem;
  color: #9ca3af;
}

#safari {
  width: 48rem;
  position: absolute;
  top: 10rem;
  left: 16.666667%;
  background: white;
  border-radius: 0.75rem;
  overflow: hidden;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25),
    0 0 20px rgba(0, 0, 0, 0.15);

  .search {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    width: 66.666667%;
    background: white;
    border: 1px solid #d1d5db;
    border-radius: 0.5rem;
    padding: 0.5rem 0.75rem;

    input {
      &::placeholder {
        color: #9ca3af;
      }
    }
  }

  .blog {
    background: white;
    padding: 2.5rem;
    max-width: 48rem;
    margin: 0 auto;

    h2 {
      font-size: 1.25rem;
      font-weight: 700;
      color: #db2777;
      margin-bottom: 2.5rem;
    }

    .blog-post {
      display: grid;
      grid-template-columns: repeat(12, minmax(0, 1fr));
      column-gap: 1.25rem;

      img {
        width: 100%;
        height: 100%;
        border-radius: 0.375rem;
        object-fit: cover;
      }

      .content {
        grid-column: span 10 / span 10;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;

        p {
          font-size: 0.75rem;
          color: #6b7280;
        }

        h3 {
          font-weight: 600;
          font-size: 1rem;
          color: #1f2937;
        }

        a {
          font-size: 0.75rem;
          color: #2563eb;
          display: flex;
          align-items: center;
          gap: 0.75rem;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

#terminal {
  width: 36rem; // w-xl
  position: absolute;
  top: 8rem; // top-32
  left: 8.333333%; // left-1/12
  background: white;
  border-radius: 0.75rem; // rounded-xl
  overflow: hidden;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25),
    0 0 20px rgba(0, 0, 0, 0.15);

  h2 {
    font-weight: 700;
    font-size: 0.875rem;
    text-align: center;
    width: 100%;
    font-family: "Roboto", sans-serif; // font-roboto
  }

  .techstack {
    font-size: 0.875rem; // text-sm
    font-family: "Roboto", sans-serif; // font-roboto
    padding: 1.25rem; // p-5

    .label {
      display: flex;
      align-items: center;
      margin-left: 2.5rem; // ms-10
      margin-top: 1.75rem; // mt-7
    }

    .content {
      padding: 1.25rem 0; // py-5
      margin: 1.25rem 0; // my-5
      border-top: 1px dashed #e5e7eb;
      border-bottom: 1px dashed #e5e7eb;
      display: flex;
      flex-direction: column;
      gap: 0.25rem; // space-y-1

      li {
        display: flex;
        align-items: center;

        .check {
          color: #00a154;
          width: 1.25rem; // w-5
        }

        h3 {
          font-weight: 600;
          color: #00a154;
          width: 9rem; // w-32
          margin-left: 1.25rem; // ms-5
        }

        ul {
          display: flex;
          align-items: center;
          gap: 0.75rem; // gap-3
        }
      }
    }

    .footnote {
      color: #00a154;
      display: flex;
      flex-direction: column;
      gap: 0.25rem; // space-y-1

      p {
        display: flex;
        align-items: center;

        svg {
          width: 1.25rem; // w-5
          margin-right: 1.25rem; // me-5
        }
      }
    }
  }
}

.absolute {
  position: absolute;
}
