@import url("https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }
}
img {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

main {
  overflow: hidden;
  position: relative;
  background: url(../public/images/Wallpaper.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

#dock {
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 50;
  user-select: none;
}

/* Dock container */
#dock .dock-container {
  background-color: rgba(255, 255, 255, 0.2); /* bg-white/20 */
  backdrop-filter: blur(12px); /* backdrop-blur-md */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0.375rem; /* p-1.5 */
  gap: 0.375rem; /* gap-1.5 */
  border-radius: 1rem; /* rounded-2xl */

  .dock-item {
    position: relative;
    display: flex;
    justify-content: center;

    button {
      background-color: transparent;
      border: none;
    }
  }
}

/* Tooltip */
#dock .tooltip {
  padding-top: 0.25rem; /* py-1 */
  padding-bottom: 0.25rem;
  padding-left: 0.75rem; /* px-3 */
  padding-right: 0.75rem;
  width: fit-content; /* w-fit */
  text-align: center;
  font-size: 0.75rem; /* text-xs */
  background-color: #bfdbfe; /* bg-blue-200 */
  color: #1e3a8a; /* text-blue-900 */
  border-radius: 0.375rem; /* rounded-md */
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.25); /* shadow-2xl */
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
}

/* Dock Icon */
#dock .dock-icon {
  width: 3.5rem; /* size-14 → 56px */
  height: 3.5rem;
  cursor: pointer;
}

@media (min-width: 1920px) {
  #dock .dock-icon {
    width: 5rem; /* 3xl:size-20 → 80px */
    height: 5rem;
  }
}

#dock .dock-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* object-cover */
  object-position: center; /* object-center */
}

#window-controls {
  display: flex;
  gap: 0.5rem;

  .close,
  .minimize,
  .maximize {
    @media screen and (max-width: 992px) {
      display: none;
    }
  }

  .close {
    width: 14px;
    height: 14px;
    border-radius: 9999px;
    background: #ff6157;
    cursor: pointer;
  }

  .minimize {
    width: 14px;
    height: 14px;
    border-radius: 9999px;
    background: #ffc030;
  }

  .maximize {
    width: 14px;
    height: 14px;
    border-radius: 9999px;
    background: #2acb42;
  }

  .mobile-close {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;

    @media screen and (min-width: 992px) {
      display: none;
    }
    h6 {
      color: #2b7fff;
      font-size: 14px;
      font-weight: 500;
      font-family: "Roboto Mono", monospace;
    }
  }
}

#window-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background: #f9fafb;
  border-bottom: 1px solid #e5e7eb;
  user-select: none;
  font-size: 0.875rem;
  color: #9ca3af;
  position: relative;
  gap: 16px;

  @media screen and (max-width: 992px) {
    padding-top: 60px;
    border-radius: 0 !important;
    background-color: #1e1e1e;
  }

  h2 {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    text-align: center;
    font-weight: 500;
    font-family: "Roboto", sans-serif; // font-roboto

    @media screen and (max-width: 992px) {
      top: 80%;
    }
  }
}

#safari {
  width: 48rem;
  position: absolute;
  top: 10rem;
  left: 16.666667%;
  background: white;
  border-radius: 0.75rem;
  overflow: hidden;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25),
    0 0 20px rgba(0, 0, 0, 0.15);

  .search {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    width: 66.666667%;
    background: white;
    border: 1px solid #d1d5db;
    border-radius: 0.5rem;
    padding: 0.5rem 0.75rem;
    input {
      border: none;
      width: 100%;
      &::placeholder {
        color: #9ca3af;
      }
    }
  }

  .blog {
    background: white;
    padding: 2rem;
    overflow: hidden;
    min-height: 60vh;

    display: flex;

    align-items: center;
    justify-content: center;

    > div {
      h1 {
        font-size: 50px;
        font-weight: 600;
        text-align: center;
        font-family: "Roboto", sans-serif; // font-roboto
        margin-bottom: 20px;
      }

      h4 {
        font-size: 20px;
        font-weight: 400;
        text-align: center;
        font-family: "Roboto", sans-serif; // font-roboto
      }
    }
  }
}

#terminal {
  width: 36rem; // w-xl
  position: absolute;
  top: 8rem; // top-32
  left: 8.333333%; // left-1/12
  background: white;
  border-radius: 0.75rem; // rounded-xl
  overflow: hidden;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25),
    0 0 20px rgba(0, 0, 0, 0.15);

  @media screen and (max-width: 992px) {
    width: 100%;
  }

  h2 {
    font-weight: 700;
    font-size: 0.875rem;
    text-align: center;
    width: 100%;
    font-family: "Roboto", sans-serif; // font-roboto
  }

  .techstack {
    font-size: 0.875rem; // text-sm
    font-family: "Roboto", sans-serif; // font-roboto
    padding: 1.25rem; // p-5

    .label {
      display: flex;
      align-items: center;
      margin-left: 2.5rem; // ms-10
      margin-top: 1.75rem; // mt-7
    }

    .content {
      padding: 1.25rem 0; // py-5
      margin: 1.25rem 0; // my-5
      border-top: 1px dashed #e5e7eb;
      border-bottom: 1px dashed #e5e7eb;
      display: flex;
      flex-direction: column;
      gap: 0.25rem; // space-y-1

      li {
        display: flex;
        align-items: center;

        @media screen and (max-width: 767px) {
          flex-direction: column;
          align-items: flex-start;
          gap: 10px;
          margin-bottom: 10px;
        }

        .check {
          color: #00a154;
          width: 1.25rem; // w-5
        }

        div {
          display: flex;
          align-items: center;

          justify-content: flex-start;
          gap: 0.25rem;
        }

        h3 {
          font-weight: 600;
          color: #00a154;
          width: 9rem; // w-32
          margin-left: 0.25rem; // ms-5
        }

        ul {
          display: flex;
          align-items: center;
          gap: 0.75rem; // gap-3

          
        @media screen and (max-width: 767px) {
         flex-wrap: wrap;
        }
        }
      }
    }

    .footnote {
      color: #00a154;
      display: flex;
      flex-direction: column;
      gap: 0.25rem; // space-y-1

      p {
        display: flex;
        align-items: center;

        svg {
          width: 1.25rem; // w-5
          margin-right: 1.25rem; // me-5
        }
      }
    }
  }
}

.absolute {
  position: absolute;
  overflow: hidden;
  border-radius: 10px;

  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25),
    0 0 20px rgba(0, 0, 0, 0.15);

  @media screen and (max-width: 992px) {
    inset: 0 !important;
    border-radius: 0 !important ;
  }
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  gap: 16px;
}
.icon-group {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
}

.max-heightWrapper {
  max-height: 80vh;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  @media screen and (max-width: 992px) {
    height: 100%;
    max-height: none;
    width: 100%;
  }
}

#finder {
  position: absolute;
  width: 48rem; // w-3xl
  left: 10rem; // left-40
  top: 5rem; // top-20
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1); // shadow-2xl
  filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15)); // drop-shadow-2xl
  overflow: hidden;
  border-radius: 0.75rem;

  @media screen and (max-width: 992px) {
    width: 100%;
  }

  .sidebar {
    width: 12rem; // w-48
    background-color: #f9fafb; // gray-50
    border-right: 1px solid #e5e7eb; // gray-200
    display: flex;
    flex-direction: column;
    padding: 1.25rem; // p-5
    gap: 0.75rem; // space-y-3

    overflow-y: auto;

    @media screen and (max-width: 992px) {
      display: none;
    }

    h3 {
      font-size: 0.75rem; // text-xs
      font-weight: 500;
      color: #9ca3af; // gray-400
      margin-bottom: 0.25rem; // mb-1
      font-family: "Roboto Mono", monospace;
    }

    p {
      width: 100px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    ul {
      gap: 0.25rem; // space-y-1

      .active {
        background-color: #dbeafe; // blue-100
        color: #1d4ed8; // blue-700
      }

      .not-active {
        color: #374151; // gray-700

        &:hover {
          background-color: #e5e7eb; // gray-200
        }
      }

      li {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding: 0.5rem 0.75rem; // px-3 py-2
        border-radius: 0.375rem;
        cursor: pointer;
        transition: background-color 0.2s ease;
      }
    }
  }

  .content {
    flex: 1;
    padding: 2rem; // p-8
    background: white;
    max-width: 42rem; // max-w-2xl
    position: relative;
    height: min-content;

    display: flex;
    gap: 30px;
    flex-wrap: wrap;

    @media screen and (max-width: 992px) {
      gap: 14px;
      padding: 1rem; // p-8
    }

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.75rem;

      img {
        object-fit: contain;
        object-position: center;
        width: 4rem;
        height: 4rem; // size-16
        position: relative;

        .group-hover & {
          transform: scale(1.05);
        }
      }

      p {
        font-size: 12px;
        text-align: center;
        font-weight: 400;
        width: 7rem;
        font-family: "Roboto Mono", monospace;
      }
    }
  }
}

#txtfile {
  width: 38rem; // w-md
  position: absolute;
  top: 9rem; // top-36
  right: 8rem; // right-32
  background: white;
  border-radius: 0.75rem;
  overflow: hidden;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));

  @media screen and (max-width: 992px) {
    width: 100%;
  }
  h2 {
    font-weight: 700;
    font-size: 0.875rem;
    text-align: center;
    width: 100%;
  }
}

#imgfile {
  width: 36rem; // w-xl
  position: absolute;
  top: 10rem; // top-40
  left: 16.66%; // left-2/12
  background: white;
  border-radius: 0.75rem;
  overflow: hidden;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));

  @media screen and (max-width: 992px) {
    width: 100%;
  }
  #window-header p {
    font-weight: 700;
    color: #5f6266;
  }

  .preview {
    padding: 0.5rem; // p-2
    background: #e5e7eb; // gray-200
    max-height: 70vh;

    img {
      width: 100%;
      height: auto;
      object-fit: contain;
      object-position: center;
    }
  }
}

#home {
  position: relative;
  z-index: 0;

  .mobile-folders {
    @media screen and (min-width: 992px) {
      display: none;
    }
  }

  ul {
    width: max-content;

    padding-top: 30px;

    @media screen and (max-width: 992px) {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px;
      width: 100%;
    }

    li {
      z-index: 0;
      user-select: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 30px;
      @media screen and (max-width: 992px) {
        margin: 0;

        min-width: 112px;
      }

      img {
        padding: 0.25rem;
        border-radius: 0.375rem;

        .group-hover & {
          background-color: rgb(3 7 18 / 0.1); // gray-950/10
        }
      }

      p {
        font-size: 12px;
        color: white;
        text-align: center;
        padding: 0 0.25rem;
        border-radius: 0.375rem;
        max-width: 7rem;
        transition: background-color 0.2s ease;
        font-family: "Roboto Mono", monospace;

        .group-hover & {
          background-color: #3b82f6; // blue-500
        }
      }
    }
  }
}

#finder {
  .sidebar {
    p {
      font-size: 12px;
      font-family: "Roboto Mono", monospace;
    }
  }
}

.finder-window {
  display: flex;

  max-height: 70vh;
  background-color: #ffffff;

  @media screen and (max-width: 992px) {
    height: 100%;

    max-height: none;
  }
}

.content-text {
  padding: 1rem;

  h4 {
    font-size: 20px;
    font-family: "Roboto Mono", monospace;
    margin-bottom: 25px;
    line-height: 25px;
  }
  p {
    font-size: 16px;
    font-family: "Roboto Mono", monospace;
    margin-bottom: 15px;
    line-height: 20px;
  }
}

.image-wrapper {
  img {
    width: 100%;
  }
}

.folder-group {
  img {
    max-width: 20px;
  }
}

.contact-wrapper {
  background-color: #ffffff;
  padding: 2rem;

  @media screen and (max-width: 992px) {
    height: 100%;
  }

  h3 {
    font-size: 20px;
    font-family: "Roboto Mono", monospace;
    max-width: 450px;
    line-height: 25px;

    span {
      font-weight: 600;
    }
  }

  .social-gridWrapper {
    margin-top: 40px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    @media screen and (max-width: 540px) {
      grid-template-columns: repeat(1, 1fr);
    }

    > div {
      padding: 16px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      border-radius: 10px;
      cursor: pointer;

      &:first-child {
        background-color: #52cc69; // blue-100
      }
      &:last-child {
        background-color: #00aff2; // blue-100
      }
      h4 {
        font-size: 16px;
        font-family: "Roboto Mono", monospace;
        font-weight: 500;
        color: #fff;
      }
    }
  }
}

.hiddenmobileDock {
  @media screen and (max-width: 992px) {
    display: none;
  }
}
